@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000000;
    color: initial;
    font-family: 'Manrope';
    -ms-overflow-style: none;
    color: white;
}

#handbag {
    color: white;
    font-size: x-large;
}