.HomeSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomeContainer {
    width: 90%;
}


/* HERO SECTION */

.HeroSection {
    height: 100vh;
    display: flex;
}

.HeroText {
    display: flex;
    flex-direction: column;
    height: 97%;
    gap: 20px;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}

.HeroTextContainer {
    background-color: transparent;
}

.HeroBigText {
    display: flex;
    flex-direction: column;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 59px;
    line-height: 81px;
    letter-spacing: -0.05em;
    color: #ffffff;
    background-color: transparent;
}

.HeroBigText span:nth-child(1) {
    background-color: transparent;
}

.HeroBigText span:nth-child(2) {
    padding-left: 35px;
    background-color: transparent;
}

.HeroBigText span:nth-child(3) {
    padding-left: 100px;
    background-color: transparent;
}

.HeroSmallText {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.HeroSmallText p {
    width: 212px;
    height: 60px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background-color: transparent;
}

.HeroSmallBottomText {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    background-color: transparent;
}

.HeroSmallBottomText p {
    width: 227px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    background-color: transparent;
}

.HeroSectionCenterImage {
    position: relative;
    width: 595px;
    height: 400px;
}

.HeroSectionCenterImage img {
    position: absolute;
    right: 70px;
}

.HeroSectionSideImageContainer {
    width: 50%;
    position: relative;
}

.HeroSectionSideImageContainer p {
    z-index: 1000000;
    width: 241px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    position: relative;
    background-color: transparent;
}

.HeroSectionSideImage {
    height: 345px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.HeroSectionSideImage img {
    height: 345px;
    position: absolute;
    top: 30px;
    z-index: 1;
}


/* NEW COLLECTION SECTION */

.newCollectionSection {
    height: 100%;
    padding-top: 200px;
}

.newCollectionContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 200px;
    border-bottom: 1px solid white;
}

.newCollectionHeader {
    display: flex;
    gap: 240px;
    align-items: center;
}

.newCollectionHeader span:nth-child(1) {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 96px;
    /* identical to box height */
    letter-spacing: -0.05em;
    color: #ffffff;
}

.newCollectionHeader span:nth-child(2) {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 168px;
    line-height: 229px;
    letter-spacing: -0.05em;
    color: rgba(229, 229, 229, 0.09);
}

.newCollectionHeader span:nth-child(3) {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 96px;
    /* identical to box height */
    letter-spacing: -0.05em;
    color: #ffffff;
}

.newCollectionMain {
    display: flex;
    justify-content: center;
}

.newCollectionSidebar {
    position: absolute;
    top: 160px;
    left: 0;
    background-color: transparent;
}

.newCollectionSidebar ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;
}

.newCollectionSidebar ul li {
    list-style: none;
    background-color: transparent;
}

.newCollectionSidebar ul li a {
    background-color: transparent;
}

.newCollectionCenter {
    width: 1059px;
    height: 471px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(".././public/newCollection.png");
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.newCollectionCenter p {
    width: 928px;
    height: 51px;
    background-color: transparent;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 51px;
    /* identical to box height */
    letter-spacing: -0.01em;
    color: #ffffff;
    margin-bottom: 20px;
}

.newCollectionSideText {
    width: 203px;
    height: 64px;
    right: 70px;
    top: 300px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    position: absolute;
    background-color: transparent;
}


/* UNLEASH SECTION */

.unleashSection {
    height: 100%;
    width: 100%;
}

.unleashContainer {
    height: 90%;
    width: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 150px;
    padding-top: 30px;
}

.unleashTopText {
    display: flex;
    justify-content: end;
    width: 100%;
}

.unleashTopText p {
    width: 379px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #ffffff;
}

.unleashMain {
    display: flex;
    flex-direction: column;
    gap: 85px;
}

.unleashMainFirst {
    display: flex;
    align-items: center;
    gap: 100px;
}

.unleashTEXT {
    display: flex;
    flex-direction: column;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 105px;
    line-height: 143px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

.unleashTEXT span:nth-child(1) {
    padding-left: 20px;
}

.unleashTEXT span:nth-child(2) {
    padding-left: 170px;
}

.unleashMainSecond {
    height: 100%;
}

.unleashImgTwoContainer {
    display: flex;
    padding-left: 70px;
    width: 45%;
    justify-content: space-between;
}

.unleashImgTwo {
    display: flex;
    align-items: end;
    position: relative;
}

.unleashImgTwo p {
    position: absolute;
    width: 203px;
    height: 32px;
    bottom: 70px;
    right: -155px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: transparent;
}

.unleashShopContainer p {
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    color: #FFFFFF;
}

.unleashShop {
    height: 95px;
    width: 95px;
    border: 2px solid #fff;
    display: grid;
    place-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 50px;
}

.unleashShop span {
    background-color: transparent;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 1.5s ease;
    animation-fill-mode: forwards;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
}

.unleashShop span:hover {
    animation: arrow 1.5s alternate infinite;
    -webkit-animation: arrow 1.5s alternate infinite;
}

@keyframes arrow {
    from {
        transform: translate(0px);
        -webkit-transform: translate(0px);
        -moz-transform: translate(0px);
        -ms-transform: translate(0px);
        -o-transform: translate(0px);
    }
    to {
        transform: translate(8px, -8px);
        -webkit-transform: translate(8px, -8px);
        -moz-transform: translate(8px, -8px);
        -ms-transform: translate(8px, -8px);
        -o-transform: translate(8px, -8px);
    }
}